<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
  <h2>Tabs</h2>
  <p>The .nav-tabs class is used to create navigation tabs:</p>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="#">semester 1</a></li>
    <li><a href="#">semester 2</a></li>
    <li><a href="#">semester 3</a></li>
    <li><a href="#">semester 4</a></li>
    <li><a href="#">semester 5</a></li>
    <li><a href="#">semester 6</a></li>
    <li><a href="#">semester 7</a></li>
    <li><a href="#">semester 8</a></li>
    <li><a href="#">semester 9</a></li>
    <li><a href="#">semester 10</a></li>
  </ul>
        {% block body %}
    {% endblock %}
</div>
</body>
</html>