Django==1.11.9
pytz
amqp
anyjson
appdirs
Babel
whitenoise
backports-abc
backports.ssl-match-hostname
billiard
boto
celery
certifi
coreapi
coreschema
django-celery
django-cors-headers
django-rest-swagger
django-storages
djangorestframework
futures
itypes
Jinja2
json2html
kombu
Markdown
MarkupSafe
oauthlib
openapi-codec
packaging
psycopg2
pyparsing
pytz
PyYAML
requests
